<%= form_for(@necklace) do |f| %>
  <% if @necklace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@necklace.errors.count, "error") %> prohibited this necklace from being saved:</h2>

      <ul>
      <% @necklace.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bead1 %><br>
    <%= f.text_field :bead1 %>
  </div>
  <div class="field">
    <%= f.label :bead2 %><br>
    <%= f.text_field :bead2 %>
  </div>
  <div class="field">
    <%= f.label :bead3 %><br>
    <%= f.text_field :bead3 %>
  </div>
  <div class="field">
    <%= f.label :string %><br>
    <%= f.text_field :string %>
  </div>
  <div class="field">
    <%= f.label :bead4 %><br>
    <%= f.text_field :bead4 %>
  </div>
  <div class="field">
    <%= f.label :bead5 %><br>
    <%= f.text_field :bead5 %>
  </div>
  <div class="field">
    <%= f.label :bead6 %><br>
    <%= f.text_field :bead6 %>
  </div>
  <div class="field">
    <%= f.label :bead7 %><br>
    <%= f.text_field :bead7 %>
  </div>
  <div class="field">
    <%= f.label :bead8 %><br>
    <%= f.text_field :bead8 %>
  </div>
  <div class="field">
    <%= f.label :bead9 %><br>
    <%= f.text_field :bead9 %>
  </div>
  <div class="field">
    <%= f.label :rope %><br>
    <%= f.text_field :rope %>
  </div>
  <div class="field">
    <%= f.label :clasp %><br>
    <%= f.text_field :clasp %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
