<p id="notice"><%= notice %></p>

<h1>Listing Necklaces</h1>

<table>
  <thead>
    <tr>
      <th>Bead1</th>
      <th>Bead2</th>
      <th>Bead3</th>
      <th>String</th>
      <th>Bead4</th>
      <th>Bead5</th>
      <th>Bead6</th>
      <th>Bead7</th>
      <th>Bead8</th>
      <th>Bead9</th>
      <th>Rope</th>
      <th>Clasp</th>
      <th>Length</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @necklaces.each do |necklace| %>
      <tr>
        <td><%= necklace.bead1 %></td>
        <td><%= necklace.bead2 %></td>
        <td><%= necklace.bead3 %></td>
        <td><%= necklace.string %></td>
        <td><%= necklace.bead4 %></td>
        <td><%= necklace.bead5 %></td>
        <td><%= necklace.bead6 %></td>
        <td><%= necklace.bead7 %></td>
        <td><%= necklace.bead8 %></td>
        <td><%= necklace.bead9 %></td>
        <td><%= necklace.rope %></td>
        <td><%= necklace.clasp %></td>
        <td><%= necklace.length %></td>
        <td><%= necklace.price %></td>
        <td><%= link_to 'Show', necklace %></td>
        <td><%= link_to 'Edit', edit_necklace_path(necklace) %></td>
        <td><%= link_to 'Destroy', necklace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Necklace', new_necklace_path %>
