<p id="notice"><%= notice %></p>

<p>
  <strong>Bead1:</strong>
  <%= @necklace.bead1 %>
</p>

<p>
  <strong>Bead2:</strong>
  <%= @necklace.bead2 %>
</p>

<p>
  <strong>Bead3:</strong>
  <%= @necklace.bead3 %>
</p>

<p>
  <strong>String:</strong>
  <%= @necklace.string %>
</p>

<p>
  <strong>Bead4:</strong>
  <%= @necklace.bead4 %>
</p>

<p>
  <strong>Bead5:</strong>
  <%= @necklace.bead5 %>
</p>

<p>
  <strong>Bead6:</strong>
  <%= @necklace.bead6 %>
</p>

<p>
  <strong>Bead7:</strong>
  <%= @necklace.bead7 %>
</p>

<p>
  <strong>Bead8:</strong>
  <%= @necklace.bead8 %>
</p>

<p>
  <strong>Bead9:</strong>
  <%= @necklace.bead9 %>
</p>

<p>
  <strong>Rope:</strong>
  <%= @necklace.rope %>
</p>

<p>
  <strong>Clasp:</strong>
  <%= @necklace.clasp %>
</p>

<p>
  <strong>Length:</strong>
  <%= @necklace.length %>
</p>

<p>
  <strong>Price:</strong>
  <%= @necklace.price %>
</p>

<%= link_to 'Edit', edit_necklace_path(@necklace) %> |
<%= link_to 'Back', necklaces_path %>
