<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>

  <div class="no-items">
    <p class="text-center">
      It looks like you haven't added anything to your cart yet.
    </p>
    <br>
    <%= image_tag 'graphics/blink_left.gif', class: 'blinkers' %>
    <%= button_to "BEAD IT", new_product_path, class: "bead-it-btn", method: :get %>
    <%= image_tag 'graphics/blink_right.gif', class: 'blinkers' %>
  </div>

<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>
<% end %>
