<div class="cart--banner">
  <h1>your <span class="sniglet">SHOPPIN'</span> <span class="waiting-for-the-sunrise">CART</span></h1>
  <h4>Your subtotal is <%= number_to_currency current_order.subtotal %>.</h4>
  <h4>+ $5 flat international shipping</h4>

  <br>
  <% if @order_items.size == 0 %>
  <% else %>
    <%= form_tag charges_path do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="MICHAKA"
              data-amount="<%= current_order.total_cents %>"
              data-billingAddress="true"
              data-shippingAddress="true"
              data-locale="auto">
      </script>
    <% end %>
    <%= button_to "MAKE ANOTHER", new_product_path, class: "bead-it-btn", method: :get %>
  <% end %>

  <br>
</div>

<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67846181-1', 'auto');
  ga('send', 'pageview');

</script>
