<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="beadPicker">
  </div>

  <div class="field">
    <%= f.label :bead1 %><br>
    <%= f.text_field :bead1, style: "display:none;"%><br>
    <p>Shape</p>
    <select id="shapePicker">
      <%= options_for_select([["square"], "donut"]) %>
    </select>
    <p>Shape</p>
    <select id="patternPicker">
      <%= options_for_select([["solid"], "sprinkles"]) %>
    </select>
    <br>
    <input type="checkbox" name="hide" value="hidden" id="beadToggle">Remove Bead<br>
  </div>
  <div class="field">
    <%= f.label :bead2 %><br>
    <%= f.text_field :bead2 %>
  </div>
  <div class="field">
    <%= f.label :bead3 %><br>
    <%= f.text_field :bead3 %>
  </div>
  <div class="field">
    <%= f.label :bead4 %><br>
    <%= f.text_field :bead4 %>
  </div>
  <div class="field">
    <%= f.label :bead5 %><br>
    <%= f.text_field :bead5 %>
  </div>
  <div class="field">
    <%= f.label :bead6 %><br>
    <%= f.text_field :bead6 %>
  </div>
  <div class="field">
    <%= f.label :bead7 %><br>
    <%= f.text_field :bead7 %>
  </div>
  <div class="field">
    <%= f.label :bead8 %><br>
    <%= f.text_field :bead8 %>
  </div>
  <div class="field">
    <%= f.label :bead9 %><br>
    <%= f.text_field :bead9 %>
  </div>
  <div class="field">
    <%= f.select :strand, options_for_select([["Black & White"], "Black"]) %>
    <%= f.label :strand %><br>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.number_field :length %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
