<div class="homepage">

  <div class="row splash">
    <div class="text-block">
      <%= image_tag('logos/michaka.png') %>
      <h1>classic. <span class="sniglet">funky. </span><span class="waiting-for-the-sunrise">HANDMADE.</span></h1>
      <br>
      <%= image_tag 'graphics/blink_left.gif', class: 'blinkers' %>
      <%= button_to "BEAD IT", new_product_path, class: "bead-it-btn", method: :get %>
      <%= image_tag 'graphics/blink_right.gif', class: 'blinkers' %>
    </div>
  </div>

  <div class="row featured-designs">
    <h1><span class="sniglet">we </span><%= image_tag('graphics/heart_100x100.gif') %><span class="waiting-for-the-sunrise">these</span></h1>
    <h3>&#35;michaka</h3>
    <div class="col-md-4">
      <%= image_tag('editor/test.jpg') %>
      <div class="caption">
        <h4>Featured Product</h4>
      </div>
    </div>
    <div class="col-md-4">
      <%= image_tag('editor/test.jpg') %>
      <div class="caption">
        <h4>Featured Product</h4>
      </div>
    </div>
    <div class="col-md-4">
      <%= image_tag('editor/test.jpg') %>
      <div class="caption">
        <h4>Featured Product</h4>
      </div>
    </div>
  </div>

  <h1>Listing Products</h1>

  <br>

  <%= link_to 'New Product', new_product_path %>
</div>
