<div class="homepage">

  <div class="splash">
    <div class="text-block">
      <%= image_tag 'logos/michaka.png', class: 'logo' %>
      <h1>classic. <span class="sniglet">funky. </span><span class="waiting-for-the-sunrise">HANDMADE.</span></h1>
      <br>
      <%= image_tag 'graphics/blink_left.gif', class: 'blinkers' %>
      <%= button_to "BEAD IT", new_product_path, class: "bead-it-btn", method: :get %>
      <%= image_tag 'graphics/blink_right.gif', class: 'blinkers' %>
    </div>
  </div>

  <div class="featured-designs">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag('photos/IMG_0121.png') %>
        <%= button_to 'GET INSPIRED', 'https://instagram.com/michakajewelry', class: 'bead-it-btn', form: {target: '_blank', method: 'GET'} %>
      </div>
      <div class="col-md-4">
        <%= image_tag('photos/IMG_0120.png') %>
        <%= button_to 'MEET THE MAKERS','/about/makers', class: 'bead-it-btn', form: {method: 'GET'} %>
      </div>
      <div class="col-md-4">
        <%= image_tag('photos/IMG_0123.png') %>
        <%= button_to 'BEAD YOUR OWN', new_product_path, method: 'GET', class: 'bead-it-btn' %>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <%= image_tag('graphics/heart_100x100.gif') %>
    <h3>&#35;michaka</h3>
  </div>


</div>
