<%= render 'designtoolguide' %>

<div class="designtool desk-bkgd">
  <%= form_for(@product) do |f| %>

  <div class="banner">
    <h1><span class="sniglet">beAd</span><span class="waiting-for-the-sunrise">StAtiON</span></h1>
    <%= f.text_field :name, placeholder: "name your design", class: "necklaceNamer" %>

    <div class="custom-dropdown strandPicker">
      <div class="selector">
        <p>STRAND</p>
      </div>
      <div class="dropdown">
        <div class="option">black & white</div>
        <div class="option">black</div>
      </div>
    </div>

    <div class="custom-dropdown lengthPicker">
      <div class="selector">
        <p>LENGTH</p>
      </div>
      <div class="dropdown">
        <div class="option">55cm</div>
        <div class="option">80cm</div>
      </div>
    </div>

    <input type="number" class="quantity" min="1" value="1" onkeydown="return false"><input type="text" readonly="true" class="priceDisplay">

    <%= f.submit 'ADD TO CART', class: "save-button" %>
  </div>

  <br>
  <p class="note">Please note that each bead is carefully handmade to order, so there may be slight variations in the size and shape of the beads.</p>
  <br>

  <div class="beadGraveyard">
  </div>

  <div class="necklace-view">
    <i class="fa fa-chevron-down beadSelector"></i>
    <div class="beads">
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead1", class: "bead", data: { beadnumber: 1 } %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead2", class: "bead", data: { beadnumber: 2 } %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead3", class: "bead", data: { beadnumber: 3 } %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead4", class: "bead", data: { beadnumber: 4 } %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead5", class: "bead", data: { beadnumber: 5 } %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead6", class: "bead", data: { beadnumber: 6 } %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead7", class: "bead", data: { beadnumber: 7 } %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead8", class: "bead", data: { beadnumber: 8 } %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead9", class: "bead", data: { beadnumber: 9 } %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead10", class: "bead", data: { beadnumber: 10 } %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead11", class: "bead", data: { beadnumber: 11 } %>
    </div>
    <i class="fa fa-chevron-up beadSelector"></i>
  </div>
  <br>

  <div class="beadpicker">
    <%= render 'beadpicker' %>
    <%= f.hidden_field :bead1, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead2, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead3, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead4, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead5, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead6, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead7, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead8, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead9, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead10, style: "display:none;", value: "" %><br>
    <%= f.hidden_field :bead11, style: "display:none;", value: "" %><br>
    <%= f.hidden_field :strand, style: "display:none;", value: "black & white" %><br>
    <%= f.hidden_field :price %>
  </div>
  <% end %>

  <%= form_for @order_item, remote: true do |f| %>
    <div class="input-group">
      <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
      <div class="input-group-btn">
        <%= f.hidden_field :product_id %>
      </div>
    </div>
  <% end %>

  <!-- <div class="banner" style="height:100px;">
  </div> -->

</div>
