

<div class="designtool">
  <%= form_for(@product) do |f| %>
  <div class="row banner">
    <h1><span class="sniglet">beAd</span><span class="waiting-for-the-sunrise">StAtiON</span></h1>
    <%= f.text_field :name, placeholder: "name it, yo", class: "necklaceNamer" %>
    <select class="strandPicker custom-dropdown">
      <%= options_for_select([["STRAND", " "], "black & white", "black"]) %>
    </select>
    <select class="lengthPicker custom-dropdown">
      <%= options_for_select([["LENGTH", 0], ["55cm", 0], ["80cm", 2]]) %>
    </select>
    <input type="text" readonly="true" class="priceDisplay">
    <%= f.submit 'ADD TO CART', class: "save-button" %>
  </div>
  <br>

  <div class="container-fluid necklace-view">
    <div class="beads">
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead1", class: "bead" %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead2", class: "bead" %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead3", class: "bead" %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead4", class: "bead" %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead5", class: "bead" %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead6", class: "bead" %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead7", class: "bead" %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead8", class: "bead" %>
      <%= image_tag "editor/beads/square_white_solid.png", id: "bead9", class: "bead" %>
    </div>
  </div>

  <div class="beadpicker">
    <%= render 'beadpicker' %>
    <%= f.hidden_field :bead1, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead2, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead3, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead4, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead5, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead6, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead7, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead8, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :bead9, style: "display:none;", value: "square_white_solid" %><br>
    <%= f.hidden_field :strand, style: "display:none;", value: "black & white" %><br>
    <%= f.hidden_field :price %>
  </div>


  <% end %>
  <div class="beadGraveyard">
  </div>


  <%= link_to 'Back', products_path %>
</div>
