<%= form_for(@product) do |f| %>
<%= f.text_field :name, placeholder: "Name Your Necklace" %><br>
<%= f.text_field :price %>

<div class="container-fluid necklace-view">
  <div class="beads">
    <%= image_tag "editor/beads/square_white_solid.png", id: "bead1", class: "bead" %>
    <%= image_tag "editor/beads/square_white_solid.png", id: "bead2", class: "bead" %>
    <%= image_tag "editor/beads/square_white_solid.png", id: "bead3", class: "bead" %>
    <%= image_tag "editor/beads/square_white_solid.png", id: "bead4", class: "bead" %>
    <%= image_tag "editor/beads/square_white_solid.png", id: "bead5", class: "bead" %>
    <%= image_tag "editor/beads/square_white_solid.png", id: "bead6", class: "bead" %>
    <%= image_tag "editor/beads/square_white_solid.png", id: "bead7", class: "bead" %>
    <%= image_tag "editor/beads/square_white_solid.png", id: "bead8", class: "bead" %>
    <%= image_tag "editor/beads/square_white_solid.png", id: "bead9", class: "bead" %>
  </div>
</div>

<div class="beadpicker">
  <h1 class="selectedBead">Bead 1</h1>
  <h2 class=""
  <%= render 'beadpicker' %>
  <%= f.text_field :bead1, style: "display:none;", value: "square_white_solid" %><br>
  <%= f.text_field :bead2, style: "display:none;", value: "square_white_solid" %><br>
  <%= f.text_field :bead3, style: "display:none;", value: "square_white_solid" %><br>
  <%= f.text_field :bead4, style: "display:none;", value: "square_white_solid" %><br>
  <%= f.text_field :bead5, style: "display:none;", value: "square_white_solid" %><br>
  <%= f.text_field :bead6, style: "display:none;", value: "square_white_solid" %><br>
  <%= f.text_field :bead7, style: "display:none;", value: "square_white_solid" %><br>
  <%= f.text_field :bead8, style: "display:none;", value: "square_white_solid" %><br>
  <%= f.text_field :bead9, style: "display:none;", value: "square_white_solid" %><br>
</div>
<%=f.submit %>


<% end %>
<div class="beadGraveyard">
</div>


<%= link_to 'Back', products_path %>
