<p>
  <strong>Bead1:</strong>
  <%= @product.bead1 %>
</p>

<p>
  <strong>Bead2:</strong>
  <%= @product.bead2 %>
</p>

<p>
  <strong>Bead3:</strong>
  <%= @product.bead3 %>
</p>

<p>
  <strong>String:</strong>
  <%= @product.string %>
</p>

<p>
  <strong>Bead4:</strong>
  <%= @product.bead4 %>
</p>

<p>
  <strong>Bead5:</strong>
  <%= @product.bead5 %>
</p>

<p>
  <strong>Bead6:</strong>
  <%= @product.bead6 %>
</p>

<p>
  <strong>Bead7:</strong>
  <%= @product.bead7 %>
</p>

<p>
  <strong>Bead8:</strong>
  <%= @product.bead8 %>
</p>

<p>
  <strong>Bead9:</strong>
  <%= @product.bead9 %>
</p>

<p>
  <strong>Rope:</strong>
  <%= @product.rope %>
</p>

<p>
  <strong>Clasp:</strong>
  <%= @product.clasp %>
</p>

<p>
  <strong>Length:</strong>
  <%= @product.length %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
