<p>
  <strong>Name:</strong>
  <%= @bead.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @bead.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bead.description %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @bead.shape %>
</p>

<%= link_to 'Edit', edit_bead_path(@bead) %> |
<%= link_to 'Back', beads_path %>
